/** Theme variables */

// Source: https://material.io/design/color/dark-theme.html

$body-bg-dark: $gray-900;
$body-overlay-dark: darken($body-bg-dark, 2.5%);
$border-dark: darken($body-bg-dark, 2.5%);
$body-color-dark: $gray-300;
$dots-dark: darken($body-color-dark, 50%);

$link-color-dark: $blue-300;
$button-color-dark: $link-color-dark;
$focus-color-dark: lighten($link-color-dark, 2.5%);

$navbar-dark-color:                 $body-color-dark;
$navbar-dark-hover-color:           $link-color-dark;
$navbar-dark-active-color:          $link-color-dark;

/** Theme styles */

body.dark {
    background: $body-bg-dark;
    color: $body-color-dark;

    table {
	@extend .table-dark;
    }

    @import "dark_inner";
}

// If loading the JS still takes a split of a second, avoid flashing with a
// white background and distrubing the user.
@media (prefers-color-scheme: dark) {
    body:not(.darkness-determined) {
	background-color: $body-bg-dark;
	color: $body-color-dark;

	@import "dark_inner";
    }
}
